* {
	transition: all .25s ease-in-out;
	font-family: helvetica;
}

table {
	float:right;
	display: inline;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
.map {
	width: 900px;
	height: 500px;
	grid-area: map;
	margin: 0 auto;
	background-color: #efefef;
}



.percdesc {
  text-align: right;
}

body {
	background-color: #f8f8f8;
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	grid-template-rows: 1fr 1fr 2.5fr;
	grid-template-areas: 
	"header header"
	"map range"
	"map legend";
}

header {
	grid-area: header;

}

.legend {
	grid-area: legend;
	margin-top: 50px;
	height: 50%;
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	grid-template-areas: 
	"NLPerc NLid"
	"CBPerc CBid"
	"SBPerc SBid"
	"LPerc Lid"
}

.input {
	width:90%;
	grid-area: range;
	margin: 0 auto;
	padding-top: 60px;
}

.Perc {
	display: table;
	border-radius: 10px;
	width: 35%;
}
.id {
	display: table;
	margin-left: -50px;
}

#NLPerc {
	background-color: #f4e573;
	grid-area: NLPerc;
}

#SBPerc {
	background-color: #f4a473;
	grid-area: SBPerc;
}

#CBPerc {
	background-color: #f47573;
	grid-area: CBPerc;
}

#LPerc {
	background-color: #c3f473;
	grid-area: LPerc;

}

#NLid {
	grid-area: NLid;
}

#SBid {
	grid-area: SBid;
	
}
#CBid {
	grid-area: CBid;
}

#Lid {
	grid-area: Lid;
}

p {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
}
.id > p {
	text-align: left;
}

/* input range styling */
input[type=range] {
  height: 21px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 90%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #7CACF4;
  border-radius: 25px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #BCE1EB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #7CACF4;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #7CACF4;
  border-radius: 25px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #BCE1EB;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #7CACF4;
  border: 0px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #7CACF4;
  border: 0px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #BCE1EB;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #7CACF4;
}
input[type=range]:focus::-ms-fill-upper {
  background: #7CACF4;
}